@model GummiBearKingdom.ViewModels.ProductReview  

@{
    ViewData["Title"] = "Gummi Bear Kingdom : Products - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details: @Model.Product.Name </h2>
<hr />
@if(Model.Product.Image != null)
 {
    <p>
        <img src='@Url.Action("GetImage", "Products", new { id = Model.Product.ProductId})'/>
    </p>
 }
else
 {
    <p>
        <em>No Image Available.</em>
    </p>
 }

<p>@Html.DisplayNameFor(model => model.Product.Name):</p>
<p>@Html.DisplayFor(model => model.Product.Name)</p>

<p>@Html.DisplayNameFor(model => model.Product.Description):</p>
<p>@Html.DisplayFor(model => model.Product.Description)</p>

<p>@Html.DisplayNameFor(model => model.Product.Cost):</p>
<p>@Html.DisplayFor(model => model.Product.Cost)</p>

<p>Average Rating:</p>
@if(Model.Product.GetRating() == 0)
{
    <em>This product has not been rated yet.</em>
}
else
{
    <p>@Model.Product.GetRating()</p> 
    @for(var i = 0; i < Math.Floor(Model.Product.GetRating()); i++)
    {
        <strong>★</strong>
    }
    @if(Math.Floor(Model.Product.GetRating()) < Model.Product.GetRating())
    {
        <strong>★</strong>
    }
}

 
<p>
    @if(Model.Product.Reviews.Count > 0)
    {
            @Html.ActionLink("Reviews", "GetAll", "Reviews", new { id = Model.Product.ProductId})
    }
    else
    {
        <em>No reviews submitted yet.</em>
    } |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product.ProductId}) | 
    @Html.ActionLink("Delete", "Delete", new { id = Model.Product.ProductId}) |
    @Html.ActionLink("Back to Products", "Index")
</p>

<div class="details-reviews">
    @foreach(var review in Model.Product.Reviews)
    {
        <h4>@review.Author</h4>
        <p>@review.Rating</p>
        <p>@review.ContentBody</p>
    }
</div>

<div class="modal-review">
    <div class="form">
        <p class="exit-button">X</p>
        @if(Model.ReviewFail)
        {
            <h3>Your review is too long. Please limit to 255 characters.</h3>
        }
        <h1>Review for <em>@Model.Product.Name</em></h1> 
        <hr/>
            @using (Html.BeginForm("Create", "Reviews", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Review.ProductId)
            
                <p>
                    @Html.LabelFor(m => m.Review.Author):
                </p>
                    @Html.TextBoxFor(m => m.Review.Author)

                 <p>
                    @Html.LabelFor(m => m.Review.Rating):
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Review.Rating)
                </p>
           
                <p>
                    @Html.LabelFor(m => m.Review.ContentBody):
                </p>
                <p>
                    @Html.TextAreaFor(m => m.Review.ContentBody, new { maxlength = 255})
                </p>
               
                
                <input type="submit" value="SUBMIT"=/> 
            }
    </div>
</div>