@model GummiBearKingdom.Models.Product  

@{
    ViewData["Title"] = "Gummi Bear Kingdom : Products - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>
<hr />
@if(Model.Image != null)
 {
    <p>
        <img src='@Url.Action("GetImage", "Products", new { id = Model.ProductId})'/>
    </p>
 }
else
 {
    <p>
        <em>No Image Available.</em>
    </p>
 }

<p>@Html.DisplayNameFor(model => model.Name):</p>
<p>@Html.DisplayFor(model => model.Name)</p>

<p>@Html.DisplayNameFor(model => model.Description):</p>
<p>@Html.DisplayFor(model => model.Description)</p>

<p>@Html.DisplayNameFor(model => model.Cost):</p>
<p>@Html.DisplayFor(model => model.Cost)</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId}) | 
    @Html.ActionLink("Delete", "Delete", new { id = Model.ProductId}) |
    @Html.ActionLink("Back to Products", "Index")</p>
