@model GummiBearKingdom.ViewModels.ProductReview  

@{
    ViewData["Title"] = "Gummi Bear Kingdom : Products - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>
<hr />
@if(Model.Product.Image != null)
 {
    <p>
        <img src='@Url.Action("GetImage", "Products", new { id = Model.Product.ProductId})'/>
    </p>
 }
else
 {
    <p>
        <em>No Image Available.</em>
    </p>
 }

<p>@Html.DisplayNameFor(model => model.Product.Name):</p>
<p>@Html.DisplayFor(model => model.Product.Name)</p>

<p>@Html.DisplayNameFor(model => model.Product.Description):</p>
<p>@Html.DisplayFor(model => model.Product.Description)</p>

<p>@Html.DisplayNameFor(model => model.Product.Cost):</p>
<p>@Html.DisplayFor(model => model.Product.Cost)</p>
 
<p>
    @Html.ActionLink("Reviews", "GetAll", "Reviews", new { id = Model.Product.ProductId}) |  
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product.ProductId}) | 
    @Html.ActionLink("Delete", "Delete", new { id = Model.Product.ProductId}) |
    @Html.ActionLink("Back to Products", "Index")
</p>

<div class="details-reviews">
    @foreach(var review in Model.Product.Reviews)
    {
        <h4>@review.Author</h4>
        <p>@review.Rating</p>
        <p>@review.ContentBody</p>
    }
</div>

<div class="modal-review">
    <div class="form">
        @if(Model.ReviewFail)
        {
            <h3>Your review is too long. Please limit to 255 characters.</h3>
        }
        @using (Html.BeginForm("Create", "Reviews", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Review.ProductId)
        
            <p>
                @Html.LabelFor(m => m.Review.Author):
            </p>
            <p>
                @Html.TextBoxFor(m => m.Review.Author)
            </p>
            <p>
                @Html.LabelFor(m => m.Review.ContentBody):
            </p>
            <p>
                @Html.TextBoxFor(m => m.Review.ContentBody)
            </p>
            <p>
                @Html.LabelFor(m => m.Review.Rating):
            </p>
            <p>
                @Html.TextBoxFor(m => m.Review.Rating)
            </p>
            
            <input type="submit"/> 
        }
    </div>
</div>