@model GummiBearKingdom.ViewModels.ProductImage

@{
    ViewData["Title"] = "Gummi Bear Kingdom : Products - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>
<hr />
@if(Model.Product.Image != null)
{
    <p>
    @Html.DisplayFor(model => model.Render)
    </p>
}
<p>@Html.DisplayNameFor(model => model.Product.Name):</p>
<p>@Html.DisplayFor(model => model.Product.Name)</p>

<p>@Html.DisplayNameFor(model => model.Product.Description):</p>
<p>@Html.DisplayFor(model => model.Product.Description)</p>

<p>@Html.DisplayNameFor(model => model.Product.Cost):</p>
<p>@Html.DisplayFor(model => model.Product.Cost)</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product.ProductId}) | 
    @Html.ActionLink("Delete", "Delete", new { id = Model.Product.ProductId}) |
    @Html.ActionLink("Back to Products", "Index")</p>
