@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Gummi Bear Kingdom : Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>
<p>
    @Html.ActionLink("Add Product", "Create")
</p>


<div class="products">
    @foreach (var listProduct in Model)
    {
         <p>
            <a href='@Url.Action("Details", new { id = listProduct.ProductId})'>@Html.DisplayFor(modelItem => listProduct.Name)</a> @Html.DisplayFor(modelItem => listProduct.Cost)
        </p>
    } 
</div> 

<p>@Html.ActionLink("Return Home", "Index", "Home")</p>