@model IEnumerable<GummiBearKingdom.Models.Review>

@{
    ViewData["Title"] = "Gummi Bear Kingdom : Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h2>Reviews for <em>@Model.ElementAt(0).Product.Name</em></h2>

    @foreach (var review in Model)
    {
      <div class="review">
        <h2>@review.Author</h2>
        <h4><em>@review.Date.ToString("MMM d, yyyy h:mm tt")</em></h4>
        @for(var i = 0; i < review.Rating; i++)
        {
               <strong>★</strong>
        }
        <p>@review.ContentBody</p>
      </div>
    }

<p>@Html.ActionLink($"Return to {@Model.ElementAt(0).Product.Name} details", "Details", "Products", new { id = @Model.ElementAt(0).ProductId})</p>
</div>>